@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #fff;
    animation: fadeIn 2s;
}

header h1, header h2, header p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(32, 153, 177) ;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px rgb(32, 153, 177) ;
    font-weight: 300;
    color: #fff;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow:0 0 2px rgba(68, 71, 69, 0.681) ;
}

p {
    margin: 10 10 20px;
    color: #fff;
    text-transform: justify;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

section {
    padding: 20px;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

section:hover {
    transform: scale(1.01);
    box-shadow: 0px 20px 30px rgba(0,0,0,0.5);
}

section p {
    animation: fadeIn 1s ease-in;
}

section img { 
    border: 3px solid #fff; 
    box-shadow: 2px 2px #000; 
    transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.about-content p {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px; 
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.profile-image {
  border-radius: 100%;
  width: auto;
  float: left;
  margin-top: -40px; 
  margin-left: 20px;
  transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 5px solid #0ce3ac;
  filter: drop-shadow(0 0 10px #0ce3ac); 
  left: 10px;
}

a {
    color: #19b135;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
    font-size: 1.2em;
    font-weight: bold;
}

a:hover {
    color: #0ce3ac;
    border-bottom: 1px solid #0ce3ac;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.certificate-img {
  border: 4px solid #1e5799; 
  border-radius: 10px; 
  margin: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease; 
}

.certificate-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}



#searchInput {
  font-size: 15px;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background: linear-gradient(90deg, rgb(8, 174, 55) 0%, rgb(5, 187, 66) 100%);
  color: #fff;
  transition: all 0.5s ease;
  text-align: center; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#searchInput::placeholder {
  color: #fff;
  font-style: oblique;
  font-size: 15px; 
}

#searchInput:focus {
  box-shadow: 0 0 15px 4px rgba(13, 64, 147, 0.7);
}

.highlight {
    color: rgb(226, 213, 217);
}

.wrapper {
  display: flex;
  justify-content: center; 
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  color: #000;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #222222;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #833ab4;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1934ac;
  color: #ffffff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: row;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition: color 0.5s;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
    bottom: 0;
    left: 50%;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}
.container {
    width: 70%;
    margin: 20px auto;
    background: linear-gradient(to right, #0052D4, #4DD0E1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: floatIn 1s;
}

@keyframes floatIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.chart-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.bar {
  background: linear-gradient(to right, #1e5799 0%, #2989d8 100%);
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  height: 40px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}


.bar:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.bar-fill {
  height: 100%;
  width: var(--percentage);
  background-color: rgb(0, 150, 230);
  position: absolute;
  top: 0;
  left: 0;
  animation: fillAnimation 2s ease-out forwards;
  border-radius: 5px; 
}

.bar-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #1e5799;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Arial', sans-serif; 
}

.bar-percentage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Arial', sans-serif; 
}

@keyframes fillAnimation {
  0% {
    width: 0;
    opacity: 0;
    background-color: rgba(0, 230, 64, 0.5);
  }
  50% {
    opacity: 0.8;
    background-color: rgba(0, 230, 64, 0.8);
  }
  100% {
    width: var(--percentage);
    opacity: 1;
    background-color: rgba(0, 230, 64, 1);
  }
}


@media only screen and (min-width: 768px) {
  .about-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .profile-image-container {
      order: 2; 
  }

  .profile-image {
      width: 250px; 
      height: auto;
  }
}


@media only screen and (max-width: 767px) {
  .about-content {
      flex-direction: column-reverse; 
      align-items: center;
  }

  .profile-image-container {
      order: 1; 
  }

  .profile-image {
    margin-top: 20px;
      margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  nav ul {
      flex-direction: column; 
      align-items: center; 
  }

  nav ul li {
      display: block; 
      margin-bottom: 10px; 
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(0,255,0,0.9); 
  }
  50% {
    text-shadow: 0 0 20px rgba(0,255,0,0.9); 
  }
  100% {
    text-shadow: 0 0 10px rgba(0,255,0,0.7); 
  }
}

header p {
  text-align: center;
  font-size: 24px;
  color: #fff;
  animation: glow 3s ease-in-out infinite; 
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  height: 70px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  animation: animate3 1s ease-in-out infinite alternate;
}

footer p {
  line-height: 70px;
}
